# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log
.env

# Build files
build/
dist/
.cache/
.DS_Store

# Logs
logs/
*.log
logs/**/*.log

# Editor config
.vscode/
.idea/
*.swp
*.swo

# OS files
Thumbs.db
.DS_Store
